body { background: #137cd6; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 16px; display: flex; }
.block-config-0 { color: #f15f2b; font-size: 19px; margin-bottom: 5px; }
.block-sms-1 { color: #cf04d4; font-size: 19px; margin-bottom: 5px; }
.block-cache-2 { color: #4a691; font-size: 18px; margin-bottom: 5px; }
.block-helper-3 { color: #5d322c; font-size: 18px; margin-bottom: 5px; }
.block-uploader-4 { color: #139f1e; font-size: 18px; margin-bottom: 5px; }
.block-cache-5 { color: #e9046e; font-size: 16px; margin-bottom: 5px; }